node_modules/
dist/
.DS_Store
Thumbs.db
*.log
.env
.env.*

frontend/node_modules/
frontend/dist/

backend/node_modules/
backend/data/users.json
backend/data/scores.json

ai/
pembelajaran/
**/__pycache__/
